@import "./console.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    display: none;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}